.comments-block {
	position: relative;
	overflow: hidden;
	z-index: 1;
	background-color: white;
	display: flex;
	flex-direction: column;
	min-height: 90vh;

	.bg-image {
		z-index: -1;
		position: absolute;
		bottom: -20%;
		background-color: $white;
		background-size: cover;
		background-position: bottom center;
		transform: scaleX(-1);
	}

	.carousel {
		&-card {
			background-color: $black;
			display: flex;
			flex-direction: column;
			text-decoration: none;
			padding: 2rem;
			border-radius: 6px;
			width: 100%;
			max-width: 390px;
			min-height: 20vh;
		}
		.initial {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $bp-blue;
			width: 45px;
			height: 45px;
			border-radius: 9999px;
			color: $white;
		}
	}
	.grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		@include for-size(tablet-landscape-up) {
			flex-direction: row;
		}
	}
	.title {
		font-weight: 700;
		font-size: 34px;
		line-height: 46px;
		text-align: center;
		padding-top: 7rem;
		padding-bottom: 4rem;

		@include for-size(tablet-landscape-up) {
			text-align: left;
			padding-left: 4rem;
		}
	}
	.text {
		flex: 1 0 auto;
		font-weight: normal;
		font-size: 18px;
		line-height: 28px;
		color: $white;
	}
	.button-block {
		display: flex;
		justify-content: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.button {
		cursor: pointer;
		border: none;
		font-size: 1rem;
		font-weight: 600;
		color: $black;
		padding: 24px 32px;
		margin: 2rem auto;
		background-color: $white;
		transition: opactiy 0.3s ease-out;
		border: 1px solid rgba(0, 0, 0, 0.1);
		i {
			transform: rotate(45deg);
			font-size: 1.25rem;
			margin-left: 1rem;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}
